html, body {
    height: 100%;
}

/* body {
    /* display: flex; 
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
} */
body {
    margin: 0;
    padding: 0;
    /* background-color: #17a2b8; */
    background-color: white;
    height: 100vh;
  }
  #loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px;    
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
    text-align: center;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}
